<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
    {% block title %}Test page{% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'core/css/main.css' %}">
</head>
<body>
    <header>
        <h1>Just a django app</h1>
        <ul>
            <button class="buttons-header"><a href="{% url 'home' %}"><li>Home</li></a></button>
            <button class="buttons-header"><a href="{% url 'data'%}"><li>Data</li></a></button>
            <button class="buttons-header"><a href="{% url 'git_projects' %}"><li>Projects</li></a></button>
        </ul>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <img src="{% static 'core/img/pine.jpg' %}" class="footer-image">
    </footer>
</body>
</html>